{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blogs/app.css' %}">
{% endblock %}

{% block page_title %}
    My Blog Home page_title
{% endblock %}

{% block body_content %}
    <section>
        <header>
            <h1>Thoughts, Code & Stories.</h1>
            <h3>A personal space where I document my journey...</h3>
            <img src="{% static 'blogs/images/author.jpeg' %}" alt="Author" style="width: 150px; height: 150px;"/>
        </header>
    </section>
    <section>
        <h2>Features</h2>
        <ul>
            {% for blog in l_blogs %}
                {% include 'blogs/includes/posts.html' %} 
            {% endfor %}
        </ul>
    </section>

{% endblock %}


